.my-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 100px;
}

.has-blue-background {
    background-color: #0689da;
    border: 1px  solid #000000;
}

.has-yellow-background {
    background-color: #d6951d;
    border: 1px solid #273f8e;
}